<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386261407800-p0kimc7fv8a65sbotdij8i09gp3v4f1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386261407800-p0kimc7fv8a65sbotdij8i09gp3v4f1i</string>
	<key>API_KEY</key>
	<string>AIzaSyABY_2GcnGnCv_x-WQZUTxgYU9o8KkPQnI</string>
	<key>GCM_SENDER_ID</key>
	<string>386261407800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salvatoredevita.telluslite</string>
	<key>PROJECT_ID</key>
	<string>telluspro-3be9c</string>
	<key>STORAGE_BUCKET</key>
	<string>telluspro-3be9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386261407800:ios:631d8144fd61e6261c2ecd</string>
	<key>DATABASE_URL</key>
	<string>https://telluspro-3be9c.firebaseio.com</string>
</dict>
</plist>